@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Fonts
$ff-Opensans: 'Open Sans', sans-serif;

// Palette
$dark-black: #14171A;
$grey-dark: #434f58;
$grey-light: #5d6e7c;
$grey-extra-light: #F5F8FA;
$purple-main: #9E0081;
$white-main: #fff;

// REM font-sizes
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
