@use "../base";
@use "../layout/container";
@use "../layout/header";
@use "../layout/footer";
@use "../components/card";
@use "../components/feed";
@use "../components/about";
@use "../components/expertises";

// CATEGORY
.home-main {
  &__list {
    font-weight: 600;
    color: base.$grey-dark;
    display: flex;
    justify-content: space-around;
    padding-block-start: 20px;
  }
  &__category {
    display: flex;
    justify-content: center;
    padding: 17px 0;
    width: 100%;
    position: relative;
  }
  &__category::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    height: 3px;
    width: 60%;
    transition: transform 0.2s ease-out;
    transform: scaleX(0);
    background-color: base.$orange-main;
    transform-origin: center;
  }
  &__category.active::after {
    transform: scaleX(1);
  }
  &__category.active {
    background-color: base.$grey-extra-light;
  }
  &__category:hover {
    background-color: base.$grey-extra-light;
    cursor: pointer;
  }
}
